<h1>Buscando: <small>{{termino}}</small></h1>
<hr>

<div class="row animated fadeIn" *ngIf="heroes.length === 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino: {{termino}}
        </div>
    </div>
</div>

<div class="row row-cols-2 row-cols-md-2 g-4 p-6">
    <div class="col" *ngFor="let heroe of heroes; let i = index ">
        <div class="card animated fadeIn">
            <img src="{{heroe.img}}" class="card-img-top" [alt]="heroe.nombre">
            <div class="card-body">
                <h5 class="card-title">{{heroe.nombre}}</h5>
                <p class="card-text">{{heroe.bio}}</p>
            </div>
            <button type="button" class="btn btn-outline-primary btn-block m-2">
                    Ver más..
            </button>
        </div>
    </div>
</div>